Repository ggear/homeassistant-powercalc, changes with the labels that .github/labeler.yml gives for each.
All labels: powerprofile, documentation, measure-tool

Remove alias which causes a double up in 1.17+
  custom_components/powercalc/custom_data/sonos/move/model.json
Labels: none

HACK-GRAHAM: add idea project files to ignore list
  .gitignore
Labels: none

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/innr/RB 247 T/model.json
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

HACK: Add Hue Bulb LCT010 profile
  custom_components/powercalc/custom_data/signify/LCT010/color_temp.csv.gz
  custom_components/powercalc/custom_data/signify/LCT010/color_temp.png
  custom_components/powercalc/custom_data/signify/LCT010/hs.csv.gz
  custom_components/powercalc/custom_data/signify/LCT010/hs.png
  custom_components/powercalc/custom_data/signify/LCT010/model.json
Labels: none

Update profile library
  profile_library/library.json
Labels: powerprofile

Add UPS device type and Tripp Lite NUT UPS power profile (#4085)
  custom_components/powercalc/power_profile/power_profile.py
  profile_library/model_schema.json
  profile_library/tripp_lite/Tripplite/model.json
  profile_library/tripp_lite/manufacturer.json
  tests/power_profile/device_types/test_ups.py
  tests/testing_config/powercalc/profiles/test/ups/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/tripp_lite/Tripplite/model.json
Labels: powerprofile

add alexa aliases (#4094)
  profile_library/amazon/B09ZX7MS5B/model.json
  profile_library/amazon/B7W644/model.json
  profile_library/amazon/C7H6N3/model.json
  profile_library/amazon/H23K37/model.json
  profile_library/amazon/L9D29R/model.json
  profile_library/amazon/RS03QR/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add IKEA E2221 (INSPELNING smart plug 110V JP/US version) (#4096)
  profile_library/ikea/E2221/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add alias 1742830P7 to Signify LCS001 profile (#4098)
  profile_library/signify/LCS001/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

feat: add extra matter product id alias for TP-Link P110M (#4100)
  profile_library/tp-link/P110M/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

fix: lut strategy is working correctly for effect white and none (#4102)
  custom_components/powercalc/strategy/lut.py
  tests/strategy/test_lut.py
Labels: none

Fix broken rockrobo.vacuum.v1 profile refering non existing playbook (#4103)
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/power_profile/library.py
  profile_library/roborock/rockrobo.vacuum.v1/model.json
  tests/config_flow/test_virtual_power_library.py
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

fix: use asyncio.timeout instead of async_timeout package (#4105)
  custom_components/powercalc/flow_helper/flows/group.py
  custom_components/powercalc/power_profile/loader/remote.py
  pyproject.toml
  uv.lock
Labels: none

Add Philips Hue Festavia (LCX028) (#4097)
  profile_library/signify/LCX028/color_temp.csv.gz
  profile_library/signify/LCX028/hs.csv.gz
  profile_library/signify/LCX028/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/signify/LCX028/model.json
Labels: powerprofile

Add aliases to model.json for 20EBU4101 (#4107)
  profile_library/eve/20EBU4101/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add UPS device type with NUT auto-discovery (#4067)
  custom_components/powercalc/const.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/flow_helper/dynamic_field_builder.py
  custom_components/powercalc/flow_helper/flows/library.py
  custom_components/powercalc/helpers.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensor.py
  custom_components/powercalc/strategy/linear.py
  custom_components/powercalc/strategy/wled.py
  custom_components/powercalc/translations/en.json
  docs/source/cookbook/ups.md
  docs/source/library/variables.md
  profile_library/tripp lite/Tripp Lite UPS/model.json
  profile_library/tripp lite/manufacturer.json
  tests/config_flow/test_discovery.py
  tests/config_flow/test_dynamic_field_builder.py
  tests/config_flow/test_virtual_power_library.py
  tests/power_profile/test_library.py
  tests/power_profile/test_power_profile.py
  tests/strategy/test_wled.py
  tests/test_helpers.py
  tests/testing_config/powercalc/profiles/test/discovery_translation_key/model.json
  tests/testing_config/powercalc/profiles/test/ups/model.json
Labels: powerprofile, documentation

Update profile library
  profile_library/library.json
  profile_library/tripp lite/Tripp Lite UPS/model.json
Labels: powerprofile

Add 929003808901_02 (#4088)
  profile_library/library.json
  profile_library/signify/929003808201/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Added profile for IKEA Gunnarp LED Ceiling/Wall Lamp 40cm (#4093)
  profile_library/ikea/T1828/color_temp.csv.gz
  profile_library/ikea/T1828/model.json
Labels: powerprofile

Update profile library
  profile_library/ikea/T1828/model.json
  profile_library/library.json
Labels: powerprofile

fix: only run update profile library when MR is actually merged
  .github/workflows/update-profile-library.yml
Labels: none

.github/labeler.yml:

powerprofile:
  - changed-files:
    - any-glob-to-any-file: profile_library/**

documentation:
  - changed-files:
    - any-glob-to-any-file: docs/**

enhancement:
 - head-branch: ['^feat', 'feature']

bug:
  - head-branch: ['^fix', 'fix']

measure-tool:
  - changed-files:
      - any-glob-to-any-file: utils/measure/**
