Repository ggear/homeassistant-powercalc, changes with the labels that .github/labeler.yml gives for each.
All labels: powerprofile, documentation, measure-tool

Add Yeelight YLXD024 (#4133)
  profile_library/yeelight/YLXD024/main_light/color_temp.csv.gz
  profile_library/yeelight/YLXD024/main_light/model.json
  profile_library/yeelight/YLXD024/model.json
  profile_library/yeelight/YLXD024/night_light/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/yeelight/YLXD024/model.json
Labels: powerprofile

Update model name (#4142)
  profile_library/yeelight/YLXD024/main_light/model.json
  profile_library/yeelight/YLXD024/model.json
  profile_library/yeelight/YLXD024/night_light/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

chore: add funding.yml
  FUNDING.yml
Labels: none

Add action for debugging groups (#4143)
  custom_components/powercalc/const.py
  custom_components/powercalc/icons.json
  custom_components/powercalc/sensor.py
  custom_components/powercalc/sensors/group/custom.py
  custom_components/powercalc/services.yaml
  custom_components/powercalc/translations/en.json
  docs/source/actions/debug-group.md
  docs/source/sensor-types/group/custom.md
  docs/source/troubleshooting/faq/group-power-too-high.md
  profile_library/yeelight/YLXD024/model.json
  tests/sensors/group/test_custom.py
  tests/test_sensor.py
Labels: powerprofile, documentation

Update profile library
  profile_library/library.json
Labels: powerprofile

chore: add to TOC
  docs/mkdocs.yml
Labels: documentation

fix: move GU10 WW 345lm alias from LED2005R5 to LED2104R3 (#4145)
  profile_library/ikea/LED2005R5/model.json
  profile_library/ikea/LED2104R3/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add APC Back-UPS ES 650G1 NUT UPS power profile (#4149)
  profile_library/apc/BE650G1/model.json
  profile_library/apc/manufacturer.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

feat: performance improvements in test suite. Runs in 10 seconds now (#4151)
  tests/conftest.py
Labels: none

fix: no need to assign hass to template (#4152)
  custom_components/powercalc/group_include/filter.py
Labels: none

fix: remove duplicated tripp lite UPS profile (#4153)
  profile_library/tripp_lite/Tripplite/model.json
  profile_library/tripp_lite/manufacturer.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Revise README for improved PowerCalc documentation
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

chore: generate plots
  profile_library/ikea/LED2402C3/color_temp.png
  profile_library/ikea/LED2402C3/hs.png
Labels: powerprofile

.github/labeler.yml:

powerprofile:
  - changed-files:
    - any-glob-to-any-file: profile_library/**

documentation:
  - changed-files:
    - any-glob-to-any-file: docs/**

enhancement:
 - head-branch: ['^feat', 'feature']

bug:
  - head-branch: ['^fix', 'fix']

measure-tool:
  - changed-files:
      - any-glob-to-any-file: utils/measure/**
