Repository ggear/homeassistant-powercalc, changes with the labels that .github/labeler.yml gives for each.
All labels: powerprofile, documentation, measure-tool

.github/labeler.yml:

powerprofile:
  - changed-files:
    - any-glob-to-any-file: profile_library/**

documentation:
  - changed-files:
    - any-glob-to-any-file: docs/**

enhancement:
 - head-branch: ['^feat', 'feature']

bug:
  - head-branch: ['^fix', 'fix']

measure-tool:
  - changed-files:
      - any-glob-to-any-file: utils/measure/**

Add Hue Resonate Downward lamp (929003553001) (#4111)
  profile_library/signify/929003553001/color_temp.csv.gz
  profile_library/signify/929003553001/hs.csv.gz
  profile_library/signify/929003553001/model.json
  profile_library/tripp lite/Tripp Lite UPS/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/signify/929003553001/model.json
Labels: powerprofile

Added support for Eglo Totari-Z 380 light. (#4078)
  profile_library/eglo/Totari-Z 380/color_temp.csv.gz
  profile_library/eglo/Totari-Z 380/model.json
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add LSC Frameless Ceiling Light (3012586) (#4095)
  profile_library/lsc/3012586/color_temp.csv.gz
  profile_library/lsc/3012586/model.json
Labels: powerprofile

I forgot the 929003808901_02 (#4113)
  profile_library/signify/929003808201/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/lsc/3012586/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Fix profiles with custom fields options cannot be edited (#4119)
  custom_components/powercalc/config_flow.py
  custom_components/powercalc/discovery.py
  custom_components/powercalc/flow_helper/flows/library.py
  tests/config_flow/test_virtual_power_library.py
  tests/test_discovery.py
  tests/testing_config/powercalc/profiles/test/device_custom_fields/model.json
Labels: none

Update profile library
  profile_library/library.json
Labels: powerprofile

fix don't show export message for average mode in measure tool (#4122)
  utils/measure/measure/measure.py
  utils/measure/measure/runner/light.py
  utils/measure/measure/runner/recorder.py
  utils/measure/measure/runner/runner.py
  utils/measure/tests/test_measure.py
Labels: measure-tool

fix: is_number import error (#4123)
  custom_components/powercalc/common.py
Labels: none

Fix nighlight mode for Wiz SHRGBC not working (#4041)
  profile_library/wiz/SHRGBC/model.json
  tests/power_profile/user_scenarios/test_wiz_nightlight.py
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add model name to model dropdown in library config flow (#4124)
  custom_components/powercalc/flow_helper/flows/library.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/loader/composite.py
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/protocol.py
  custom_components/powercalc/power_profile/loader/remote.py
  tests/config_flow/test_virtual_power_library.py
  tests/config_flow/test_virtual_power_lut.py
  tests/power_profile/loader/test_local.py
  tests/power_profile/loader/test_remote.py
  tests/power_profile/test_library.py
  tests/power_profile/user_scenarios/test_lightify_plug.py
Labels: none

fix: release drafter
  .github/workflows/release-drafter.yml
Labels: none

Fix hue bridge profile getting unavailable (#4126)
  .gitignore
  AGENTS.md
  custom_components/powercalc/flow_helper/flows/library.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/loader/composite.py
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/protocol.py
  custom_components/powercalc/power_profile/loader/remote.py
  custom_components/powercalc/sensors/power.py
  tests/config_flow/test_virtual_power_library.py
  tests/power_profile/loader/test_local.py
  tests/power_profile/loader/test_remote.py
  tests/sensors/test_power.py
Labels: none

add Ray (#4127)
  profile_library/sonos/ray/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

add FRITZ!Box 6690 Cable (#4128)
  profile_library/avm/FRITZ!Box 6690 Cable/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

add Ikea GRILLPLATS (#4129)
  profile_library/ikea/E2491/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add Matter ID (#4131)
  profile_library/eve/20EBU4101/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Nuki bridge (#4132)
  profile_library/nuki/220694/model.json
  profile_library/nuki/manufacturer.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

add philips.light.sread3 (#4130)
  profile_library/signify/philips.light.sread3/brightness.csv.gz
  profile_library/signify/philips.light.sread3/effect.csv.gz
  profile_library/signify/philips.light.sread3/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/signify/philips.light.sread3/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Implement migration mechanism for legacy model ids (#4136)
  custom_components/powercalc/__init__.py
  custom_components/powercalc/migrate.py
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/loader/composite.py
  custom_components/powercalc/power_profile/loader/local.py
  custom_components/powercalc/power_profile/loader/protocol.py
  custom_components/powercalc/power_profile/loader/remote.py
  profile_library/library_schema.json
  profile_library/model_schema.json
  tests/power_profile/loader/test_remote.py
  tests/power_profile/test_library.py
  tests/test_migrate.py
Labels: powerprofile

feat: support using variables in sub profiles (#4137)
  custom_components/powercalc/power_profile/library.py
  custom_components/powercalc/power_profile/power_profile.py
  custom_components/powercalc/sensors/power.py
  tests/power_profile/device_types/test_nightlight_standby.py
  tests/power_profile/test_power_profile.py
  tests/sensors/test_power.py
  tests/testing_config/powercalc/profiles/test/translation_key_standby_sub_profile/main/model.json
  tests/testing_config/powercalc/profiles/test/translation_key_standby_sub_profile/model.json
  tests/testing_config/powercalc/profiles/test/translation_key_standby_sub_profile/nightlight/model.json
Labels: none

Update profile library
  profile_library/library.json
Labels: powerprofile

Update profile library
  profile_library/library.json
Labels: powerprofile

Add innr Smart Filament Bulb E27 Tunable Globe (RF 271 T) (#4138)
  profile_library/innr/RF 271 T/color_temp.csv.gz
  profile_library/innr/RF 271 T/model.json
Labels: powerprofile

Update profile library
  profile_library/innr/RF 271 T/model.json
  profile_library/library.json
Labels: powerprofile

feat: add subprofile matcher to match any entity_registry property (#4140)
  custom_components/powercalc/power_profile/sub_profile_selector.py
  docs/source/library/sub-profiles.md
  profile_library/model_schema.json
  tests/power_profile/test_sub_profile_selector.py
  tests/testing_config/powercalc/profiles/test/sub_profile_match_entity_registry/model.json
Labels: powerprofile, documentation

Update profile library
  profile_library/library.json
Labels: powerprofile

Add power profile for Signify 929003099102 (Hue white ambiance Aurelle square panel light 120x30) (#4135)
  profile_library/signify/929003099102/color_temp.csv.gz
  profile_library/signify/929003099102/model.json
Labels: powerprofile

Update profile library
  profile_library/library.json
  profile_library/signify/929003099102/model.json
Labels: powerprofile
